body {
  background-color: white;
  color: #163173;
  font-family: "Capriola", Helvetica, Arial, sans-serif;
  padding: 0% 150px 0% 3%; }
  @media only screen and (max-width: 500px) {
    body {
      padding-right: 80px;
      font-size: smaller; } }
  @media only screen and (min-width: 1500px) {
    body {
      padding-right: 200px;
      font-size: larger; } }

header {
  width: 100%;
  height: 100px;
  overflow: auto;
  background-color: white;
  color: #e7ecf2;
  position: relative;
  padding: 10px 0px 20px 0px; }

footer {
  margin-top: 4em;
  border-top: 1px solid #a9a9a9;
  padding: 10px;
  color: #868686;
  font-size: x-small; }

nav {
  float: right;
  font-size: normal; }
  nav ul {
    background-color: white;
    /* fallback color if gradients are not supported */
    background-image: -webkit-linear-gradient(right, #33338a, rgba(51, 51, 138, 0.4));
    /* For Chrome and Safari */
    background-image: -moz-linear-gradient(right, #33338a, rgba(51, 51, 138, 0.4));
    /* For old Fx (3.6 to 15) */
    background-image: -ms-linear-gradient(right, #33338a, rgba(51, 51, 138, 0.4));
    /* For pre-releases of IE 10*/
    background-image: -o-linear-gradient(right, #33338a, rgba(51, 51, 138, 0.4));
    /* For old Opera (11.1 to 12.0) */
    background-image: linear-gradient(to left, whitesmoke 85%, rgba(245, 245, 245, 0.2) 98%, rgba(245, 245, 245, 0));
    /* W3C */
    border: 0;
    list-style: none;
    padding: 1em;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 0; }
    @media only screen and (max-width: 500px) {
      nav ul {
        width: 70px;
        font-size: smaller; } }
    @media only screen and (min-width: 501px) and (max-width: 1499px) {
      nav ul {
        width: 140px; } }
    @media only screen and (min-width: 1500px) {
      nav ul {
        width: 180px;
        font-size: larger; } }
  nav li {
    display: block;
    position: relative;
    text-align: right; }
  nav a {
    color: #222222;
    display: block;
    padding: 6px 10px 10px 30px;
    text-decoration: none; }
    @media only screen and (max-width: 500px) {
      nav a {
        padding-left: 10px; } }
    @media only screen and (min-width: 501px) and (max-width: 1499px) {
      nav a {
        padding-left: 15px; } }
    @media only screen and (min-width: 1500px) {
      nav a {
        padding-left: 30px; } }
  nav a:hover {
    color: #d8b808;
    text-decoration: none; }

article {
  background-color: #f4f4f4;
  color: #24302b;
  border: none;
  border-radius: 20px;
  overflow: hidden; }

main {
  display: block;
  background: white; }

/* Links */
a {
  color: #f4f4f4;
  text-decoration: none; }

a:hover {
  color: white;
  text-decoration: underline; }

/* Custom classes */
.featured-app-review {
  background: #f4f4f4;
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  overflow: auto;
  padding: 10px; }
  .featured-app-review .featured-app-title {
    width: 76%;
    float: right;
    font-size: larger; }
    .featured-app-review .featured-app-title a {
      color: #24302b;
      text-decoration: none; }
    .featured-app-review .featured-app-title a:hover {
      color: #9bceb6;
      text-decoration: underline; }
  .featured-app-review .featured-app-logo {
    max-width: 20%;
    float: left;
    margin-right: 4%;
    border: none;
    border-radius: 18%; }
  .featured-app-review .featured-app-description {
    width: 76%;
    float: right; }

.taglines {
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  padding: 5% 20% 10% 20%; }
  @media only screen and (max-width: 500px) {
    .taglines {
      font-size: 120%; } }
  @media only screen and (min-width: 501px) and (max-width: 1499px) {
    .taglines {
      font-size: 170%; } }
  @media only screen and (min-width: 1500px) {
    .taglines {
      font-size: 200%; } }

.header-logo {
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  max-width: 428px;
  max-height: 100px; }

.separator {
  height: 10px; }

.app-store-download {
  padding: 10px;
  height: 40px;
  float: right; }

.bio {
  color: #9bceb6; }
