/* Clearfix ----------- */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.center_wrap {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 20px; }

/* featured service */
.featured_service {
  border-bottom: 1px solid #c2bfba;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background: #f5f4f2; }

.featured_service header img {
  float: left;
  margin: -2px 20px 0 0; }

.featured_service header h3 {
  margin: 0 0 .7em 0;
  /* 24px */ }

.featured_service p {
  clear: left; }

#main-content {
  margin-bottom: 0em;
  float: left;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 40px;
  overflow-y: scroll;
  font-size: 100%;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.5;
  color: #929291;
  font-size: .6em; }

/* intro */
.intro {
  padding: 0;
  margin-bottom: 1.5em; }

.intro .intro_text {
  text-align: center; }

/*====================================
COLUMNS
=====================================*/
.columns {
  width: 100%;
  float: left;
  margin-bottom: 0; }

.one_half {
  width: 48%; }

@media only screen and (max-width: 500px) {
  .one_third {
    width: 100%;
    padding-bottom: 20px; } }
@media only screen and (min-width: 501px) and (max-width: 1499px) {
  .one_third {
    width: 31.91%; } }
@media only screen and (min-width: 1500px) {
  .one_third {
    width: 31.91%; } }

.two_third {
  width: 65.33%; }

.one_fourth {
  width: 23.40%; }

.three_fourth {
  width: 74%; }

.one_fifth {
  width: 16.8%; }

.one_sixth {
  width: 13.33%; }

.two_fifth {
  width: 37.6%; }

.three_fifth {
  width: 58.4%; }

.four_fifth {
  width: 67.2%; }

.five_sixth {
  width: 82.67%; }

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
  position: relative;
  margin-right: 2%;
  float: left;
  margin-bottom: 0; }
  @media only screen and (max-width: 500px) {
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
      margin-right: 0 !important;
      clear: right; } }

.last {
  margin-right: 0 !important;
  clear: right; }

.clearboth {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }
