/* Global Reset */
* {
  margin: 0;
  padding: 0; }

/* Common */
html, body {
  height: 100%; }

body {
  background-color: #fff;
  color: #163173;
  font-family: "ABeeZee", Helvetica, Arial, sans-serif;
  text-align: center; }
  @media only screen and (max-width: 800px) {
    body {
      font-size: small; } }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    body {
      font-size: medium; } }
  @media only screen and (min-width: 1000px) {
    body {
      font-size: large; } }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 {
  margin-bottom: 1em; }

p {
  margin: 1em 0; }

a {
  color: #163173; }

a:visited {
  color: #a0a; }

a:hover {
  color: #00f; }

/* Site */
.site {
  font-size: 115%;
  text-align: justify;
  margin: 2em auto 2em;
  line-height: 1.5em; }
  @media only screen and (max-width: 800px) {
    .site {
      width: 90%; } }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    .site {
      width: 80%; } }
  @media only screen and (min-width: 1000px) {
    .site {
      width: 800px; } }

.header {
  width: 100%;
  overflow: auto; }
  @media only screen and (max-width: 800px) {
    .header {
      height: 140px;
      text-align: center;
      font-size: small; } }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    .header {
      height: 100px;
      font-size: medium; } }
  @media only screen and (min-width: 1000px) {
    .header {
      height: 100px;
      font-size: medium; } }
  .header .logo {
    max-width: 3000px;
    max-height: 700px;
    height: auto; }
    @media only screen and (max-width: 800px) {
      .header .logo {
        width: 300px;
        float: inherit;
        display: inline; } }
    @media only screen and (min-width: 801px) and (max-width: 999px) {
      .header .logo {
        width: 300px;
        float: left;
        display: block; } }
    @media only screen and (min-width: 1000px) {
      .header .logo {
        width: 300px;
        float: left;
        display: block; } }
  .header .navmenu {
    color: #aaa; }
    @media only screen and (max-width: 800px) {
      .header .navmenu {
        width: 100%;
        float: inherit;
        height: 42px; } }
    @media only screen and (min-width: 801px) and (max-width: 999px) {
      .header .navmenu {
        float: right;
        text-align: right;
        height: 60px;
        padding-top: 40px; } }
    @media only screen and (min-width: 1000px) {
      .header .navmenu {
        float: right;
        text-align: right;
        height: 60px;
        padding-top: 40px; } }
    .header .navmenu ul {
      list-style: none outside none; }
      .header .navmenu ul li {
        display: inline; }
    .header .navmenu a {
      font-weight: bold;
      text-decoration: none;
      margin-left: 1em;
      color: #163173; }
    .header .navmenu a:visited {
      color: #163173; }
    .header .navmenu a:hover {
      color: #9bceb6; }

.footer {
  width: 100%;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #999999;
  font-size: small; }
  .footer .copyright {
    float: right;
    width: 50%;
    text-align: right; }
  .footer .navmenu {
    width: 50%;
    float: left;
    text-align: left;
    overflow: auto; }
    .footer .navmenu ul {
      list-style: none outside none; }
      .footer .navmenu ul li {
        display: inline; }
    .footer .navmenu a {
      font-weight: bold;
      text-decoration: none;
      margin-left: 1em;
      color: #163173; }
    .footer .navmenu a:visited {
      color: #163173; }
    .footer .navmenu a:hover {
      color: #9bceb6; }

/* Bio block specific */
.bio {
  font-family: "Oswald", Helvetica, Arial, sans-serif;
  font-size: smaller;
  text-align: justify;
  width: 100%;
  background: #f4f4f4;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #c2bfba; }
  .bio .left-half {
    border-radius: 0;
    float: left;
    padding: 0;
    margin-left: 5%;
    width: 40%;
    border-width: 0; }
  .bio .right-half {
    border-radius: 0;
    float: left;
    padding: 0;
    margin-left: 10%;
    width: 40%;
    border-width: 0; }
  .bio .clear {
    clear: both; }

/* Social related */
.social-link {
  font-size: smaller; }
  .social-link a {
    color: #999999;
    text-decoration: none; }
  .social-link a:hover {
    color: #9bceb6; }
  .social-link .social-link-logo {
    height: 1em; }

/* Apple-related */
.app-store-download {
  padding: 10px;
  height: 40px;
  float: right; }

/* Clearfix ----------- */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

.center_wrap {
  margin: 0 auto;
  padding: 0 0px; }

/* featured service */
.featured_service {
  width: 100%;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #c2bfba;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  background: #f4f4f4;
  border-radius: 20px; }

.featured_service header img {
  float: left;
  margin: -2px 20px 0 0; }

.featured_service header h3 {
  margin: 0 0 .7em 0;
  color: #222222; }

.featured_service p {
  clear: left; }

#main-content {
  float: left;
  width: 100%;
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 100%;
  line-height: 1.5;
  color: #999999;
  font-size: .7em; }

/* intro */
.intro {
  padding: 0;
  margin-bottom: 1.5em; }

.intro .intro_text {
  text-align: center; }

/*====================================
COLUMNS
=====================================*/
.columns {
  width: 100%;
  float: left;
  margin-bottom: 0; }

.one_half {
  width: 48%; }

@media only screen and (min-width: 801px) and (max-width: 999px) {
  .one_third {
    width: 31.91%; } }
@media only screen and (min-width: 1000px) {
  .one_third {
    width: 31.91%; } }

.two_third {
  width: 65.33%; }

.one_fourth {
  width: 23.40%; }

.three_fourth {
  width: 74%; }

.one_fifth {
  width: 16.8%; }

.one_sixth {
  width: 13.33%; }

.two_fifth {
  width: 37.6%; }

.three_fifth {
  width: 58.4%; }

.four_fifth {
  width: 67.2%; }

.five_sixth {
  width: 82.67%; }

.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
  position: relative;
  margin-right: 2%;
  float: left;
  margin-bottom: 0; }

.last {
  margin-right: 0 !important;
  clear: right; }

.clearboth {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%; }

.contact_container {
  width: 100%;
  padding-top: 20px; }

.contact {
  position: relative;
  float: left;
  width: 40%; }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    .contact {
      float: left;
      width: 40%;
      padding-left: 0px; } }
  @media only screen and (min-width: 1000px) {
    .contact {
      float: left;
      width: 40%;
      padding-left: 0px; } }

@media only screen and (min-width: 801px) and (max-width: 999px) {
  .contact_form_header {
    padding-left: 0px; } }
@media only screen and (min-width: 1000px) {
  .contact_form_header {
    padding-left: 0px; } }

.contact_divider {
  padding-top: 100px;
  position: relative;
  float: left;
  text-align: center; }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    .contact_divider {
      float: left;
      width: 20%;
      padding-left: 0px; } }
  @media only screen and (min-width: 1000px) {
    .contact_divider {
      float: left;
      width: 20%;
      padding-left: 0px; } }

.contact_form {
  text-align: center;
  position: relative;
  float: left; }
  @media only screen and (min-width: 801px) and (max-width: 999px) {
    .contact_form {
      float: left;
      width: 40%;
      padding-left: 0px; } }
  @media only screen and (min-width: 1000px) {
    .contact_form {
      float: left;
      width: 40%;
      padding-left: 0px; } }

.clearboth {
  clear: both; }

/* Featured app specific */
.featured-app-review {
  background: #f4f4f4;
  overflow: auto;
  padding: 10px;
  border-radius: 20px;
  width: 100%;
  font-size: .9em;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: #c2bfba; }
  .featured-app-review .featured-app-title {
    width: 76%;
    float: right;
    font-size: larger; }
    .featured-app-review .featured-app-title a {
      color: #24302b;
      text-decoration: none; }
    .featured-app-review .featured-app-title a:hover {
      color: #9bceb6;
      text-decoration: underline; }
  .featured-app-review .featured-app-logo {
    max-width: 20%;
    float: left;
    margin-right: 4%;
    border: none;
    border-radius: 18%; }
  .featured-app-review .featured-app-description {
    width: 72%;
    margin-right: 4%;
    float: left; }
  .featured-app-review .clearboth {
    clear: both; }

.product_header {
  color: #ffffff;
  width: 100%;
  text-align: left;
  background-color: #9eceb4;
  margin-top: 20px;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 20px; }

.support_list {
  margin-top: 20px; }
