/* Featured app specific */
.featured-app-review {
  background: $lightGrayColor;
  overflow:auto;
  padding:10px;
  border-radius: $calloutBoxRadius;
  width:100%;
  font-size: .9em;
  border-width:0px 0px 3px 0px; border-style:solid; border-color:#c2bfba;
    
  .featured-app-title {
    width:76%;
    float:right;
    font-size:larger;
    a {
      color: $darkGreenColor;
      text-decoration: none;
    }
    a:hover {
      color: $lightGreenColor;
      text-decoration:underline;
    }
  }
  
  .featured-app-logo {
    max-width:20%;
    float:left;
    margin-right:4%;
    border:none;
    border-radius:$appIconRadius;
  }
  
  .featured-app-description {
    width:72%;
    margin-right: 4%;
    float:left;
  }
  .clearboth{clear:both;}
}

.product_header {
color:#ffffff;
width:100%;
text-align:left; 
background-color:#9eceb4;
margin-top: 20px;
padding-left: 20px;
padding-top:5px;
border-radius: $calloutBoxRadius; 
}

.support_list {
margin-top: 20px;

}

