<div id="about" class="section"><A name="about"></a>
  <div class="bio">
    <p>
    Downright Simple is a mobile software development studio based in Pittsburgh. We specialize in the design and development of iPhone and iPad applications with a customer-focused and value-driven approach.  Mobile solutions are often more than “just an app”. We work with our clients to outline a complete mobile strategy to achieve their goals, even if that means less work for us. Using this strategy, we’ve delivered successful solutions to clients ranging from small local businesses and non-profit agencies to the largest regional corporations like UPMC and Giant Eagle.
    </p>
    <div class="bio">
      <div id="Kelli" class="bio left-half">
        Kelli Ireland is half of Downright Simple and by trade is a software engineer, computer hardware engineer, process engineer, project manager, business analyst, aspiring designer, and freshly-minted entrepreneur.
      </div>
      <div id="Chris" class="bio right-half">
        Chris Allwein is half of Downright Simple and a career software engineer with over 15 years of industry experience. Recently, Chris was talked into starting a mobile development company.
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
