<div id="contact" class="contact_container">

<div class="contact">
Contact Us
  <div class="social-link">
    <a href="https://twitter.com/downrightsimple">
      <img src="/img/social/Twitter_logo_blue.png" alt="Twitter logo" class="social-link-logo">
      @DownrightSimple
    </a>
  </div>
  <div class="social-link">
    <a href="https://google.com/+downrightsimple">
      <img src="/img/social/g+128.png" alt="Facebook logo" class="social-link-logo">
      +DownrightSimple
    </a>
  </div>
  <div class="social-link">
    <a href="http://www.linkedin.com/company/downright-simple">
      <img src="/img/social/InBug-60px-R.png" alt="LinkedIn logo" class="social-link-logo">
      LinkedIn
    </a>
  </div>
  <div class="social-link">
    <a href="https://www.facebook.com/downrightsimple">
      <img src="/img/social/FB-f-Logo__blue_144.png" alt="Facebook logo" class="social-link-logo">
      Facebook
    </a>
  </div>
  <div class="social-link">
    <a href="https://github.com/downrightsimple">
      <img src="/img/social/GitHub-Mark.png" alt="Google Plus logo" class="social-link-logo">
      GitHub
    </a>
  </div>
  <div class="social-link">
    <a href="mailto:contact@downrightsimple.com">
      <img src="/img/social/TiltedOpenEnvelope.png" alt="Email logo" class="social-link-logo">
      contact@downrightsimple.com
    </a>
  </div>
</div>

<div class="contact_divider">
-or-
</div>

{% include contactform.html %}

<div style="clear:both;"></div>
</div>
