<div class="contact">
  <div class="social-link">
    <a href="https://twitter.com/downrightsimple">
      <img src="img/social/Twitter_logo_blue.png" alt="Twitter logo" class="social-link-logo">
      @DownrightSimple
    </a>
  </div>
  <div class="social-link">
    <a href="http://www.linkedin.com/company/downright-simple">
      <img src="img/social/InBug-60px-R.png" alt="LinkedIn logo" class="social-link-logo">
      LinkedIn
    </a>
  </div>
  <div class="social-link">
    <a href="https://www.facebook.com/downrightsimple">
      <img src="img/social/FB-f-Logo__blue_144.png" alt="Facebook logo" class="social-link-logo">
      Facebook
    </a>
  </div>
  <div class="social-link">
    <a href="https://github.com/downrightsimple">
      <img src="img/social/Github-Mark.png" alt="Github logo" class="social-link-logo">
      Github
    </a>
  </div>

  Email: contact@downrightsimple.com
  Contact form:
  
  <p>
    Kelli Ireland<br />
    Co-Founder, Downright Simple<br />
    kelli@downrightsimple.com
  </p>
</div>
<div class="contact">
  <p>
    <a href="https://github.com/Kelli">github.com/Kelli</a><br />
    <a href="https://twitter.com/Kelli3125">twitter.com/Kelli3125</a><br />
    <a href="http://www.downrightsimple.com">www.downrightsimple.com</a><br />
  </p>
</div>