<div class="header">
            <div class="logo">
              <a href="/"><img src="img/ds_logo_3000_700.png" alt={{ site.name }} class="logo"></a>
            </div>
            <div class="navmenu">
              <ul class"navlinks">
                <li><a href="/">Home</a></li>
{% assign count = {{site.posts | size}} %}
{% if count > 0 %}
                <li><a href="/#posts">Posts</a></li>
{% endif %}
                <li><a href="/#products">Products</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#contact">Contact</a></li>
              </ul>
            </div>
          </div>