<div id="home">
  <section id="main-content">
    <div class="intro">
      <div class="intro_text">
        <p>Having a mobile strategy isn't complex.<br/>
           Finding the right mobile partner isn't difficult.</p>
        <p>Both of these can be Downright Simple.</p>
      </div>
    </div><!-- END: #intro-->

    <div class="center_wrap">
      <div class="columns featured_service">
        <div class="one_third">
          <header><h3>From Idea to Reality</h3></header>
          <p>You might have done all the heavy lifting on creating a great mobile design and just need some help to implement it. That's pretty rare, but we're happy to help if that's the case.</p>
          <p>More likely, you have some idea of what you want, but no idea how to get there. Creating a mobile application can seem like a huge undertaking. Let us walk you through the steps of what it takes to bring your idea to reality.
          </p>
        </div>
        <div class="one_third">
          <header><h3>More Than "Just An App"</h3></header>
          <p>Mobile solutions are often more than “just an app”. We work with our clients to outline a complete mobile strategy to achieve their goals, even if that means less work for us. 
          </p>
          <p>Using this strategy, we’ve delivered successful solutions to clients ranging from small local businesses and non-profit agencies to the largest regional corporations like UPMC and Giant Eagle.</p>
        </div>

        <div class="one_third last">
          <header><h3>Your Company, Your Agency, and You</h3></header>
          <p>We partner with companies and agencies like yours to help you meet your marketing goals while improving the customer experience by providing value and engagement. We do that by crafting highly useable, focused, and effective iPhone and iPad applications for both customers and line of business users.
          </p>
          <p>
            Don't think you need to be a Fortune 500 company to contact us.  In addition to our corporate work, we've worked with groups as small as 2-person companies and even individuals. 
          </p>
        </div>
      </div>
    </div>
  </section>
</div>