<div id="products"><A name="products"></a>
  <article>
    <div class="featured-app-review">
      <img src="img/capture_logo_1024_1024.png" alt="Capture - Ideas Instantly" class="featured-app-logo">
      <div class="featured-app-title">
        <a href="https://itunes.apple.com/us/app/capture-ideas-instantly/id815758399">Capture - Ideas Instantly</a>
        <div class="separator"></div>
      </div>
      
      <div class="featured-app-description">
        Capture is designed to be the quickest possible way for you to record your ideas. 
        You can launch the app, type what you need to remember, and just leave. 
        Capture will take care of making sure your idea is saved.
        <div class="separator"></div>
        <a href="https://itunes.apple.com/us/app/capture-ideas-instantly/id815758399">
        <img src="img/Download_on_the_App_Store_Badge_US-UK_135x40.svg" alt="Download Capture on the App Store" class="app-store-download"></a>
      </div>
    </div>
  </article>
  <div class="taglines">
    <p>Having a mobile strategy isn't complex.<br/>
      Finding the right mobile partner isn't difficult.</p>
    <p>Both of these can be Downright Simple.</p>
  </div>
  </div>